﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="footer.ascx.vb" Inherits="footer" %>
		<div id="footer">
			<div class="indent">
			    <div class="menu">		
   			        <div class="rightfloat" style="font-size:0.8em">
   			            <a href="http://www.learnexx.com" target="_blank"><span class="txt">&copy; 2016 Solvexx Solutions Ltd</span></a><a href="http://www.learnexx.com/legal.html" target="_blank"><span class="txt">Legal</span></a>
   			        </div>
		        </div>
		    </div>
		</div>