﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Header.ascx.vb" Inherits="Header" %>
<div class="headerstyle">
    <asp:ImageButton ID="btnLogout" runat="server" ImageUrl="images/btnLogout.jpg" alt="Logout" CausesValidation="False"/>
</div>

