#main { width:980px; margin:0 auto; text-align:left; position:relative;}
#main2 { width:100%; margin:0 auto; text-align:center; position:relative;}

#unityPlayer{padding:5px 5px 0px 5px; }

#header {padding:0 0px 0 0px;}

#footer { height:90px;}

.column-1, .column-2, .column-3, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {float:left; padding: 30px 0 0 34px}
.column-4, .column-5 {float:left; padding: 10px 10px 20px 0; width:48%}
.column-6 {float:left; padding: 10px 10px 20px 0; width:70%}
.column-7 {float:left; padding: 0 0 0 20px; width:25%}
.container {width:100%; overflow:hidden;}

#topBg
    {
        background-image:url("images/Learnexx3D-Virtual-Labs-Equip-Logo---white-on-transparent-240-57.png");
        background-repeat:no-repeat;
        height:57px;
    }
    
#topBg_login
    {
        background-image:url("images/websitesplash.jpg");
        background-repeat:no-repeat;
        background-position: center; 
        height:229px;
        
    }

/* ============================= login page ===========================*/
#login .container {text-align:center;}
#login .column-1 {width: 44%; text-align:right; padding: 0 0 0 0}
#login .column-2 {width: 52%; text-align:left; padding: 0 0 0 10px; }

/* ============================= error page ===========================*/
#error .container {text-align:center;}