/* CSS Document */   /* edited by AA */

* {	margin:0; padding:0; font-size:100%;}

body{ 
background-color:#197898;}  /* edited by AA */

/* edited by AA */
/* edited by AA */
/* edited by AA */
img {vertical-align:top;}
a img { border:0;}

ul { list-style:none; padding-left: 20px;}
ul.circle { list-style-type:circle; padding-left: 20px;}
ol { padding-left: 20px;}

.left { float:left;}
.right {float:right;}
.clear  { clear:both;}
.centre { text-align:center;}

html{ font-family:Arial, Helvetica, sans-serif; font-size:1em; line-height:1.333em; color:#5c5c5c;}
sup, sub {font-size:0.55em}
input, select { vertical-align:middle; font-weight:normal;}
.textbox{ font-family:Arial, Helvetica, sans-serif; font-size:1em; color:#5c5c5c; padding:10px 0 10px 0;}
.radioBtns { font-family:Arial, Helvetica, sans-serif; font-size:1em; color:#5c5c5c; padding-left:10px}
.radioBtns label{ padding-left:10px;}

a {color:#11a797;}/* edited by AA */
a:hover{text-decoration:none;}
p {padding-top:18px;}
h1{ font-size:1.833em; font-weight:normal; line-height:1.13em; word-spacing:-2px; color:#197898; padding-bottom:11px;}/* edited by AA */
h2{ font-size:1.5em; font-weight:normal; line-height:1em; word-spacing:-2px; color:#197898; padding-bottom:6px;}/* edited by AA */
h3{ font-size:1em; font-weight:normal; line-height:1em; word-spacing:-2px; color:#197898; padding-bottom:3px;}/* edited by AA */
strong{ color:#323232;}

.rowAlignment /*Used to control the height of row single line controls are in */
{
    height:2.4em; 
}

.labelAlignment /* Used to control the height of the label line for single line controls */
{
    height:2.4em;
}

.errormessage
{
    color:Red;
}
/* ============================= main layout ====================== */
.imgindent {margin:0 25px 0 0; float:left;}
.phone{ float:right; padding-right:160px;}
.space1{ margin-left:73px;}
.space2{ margin-left:53px;}
.margin1{ margin-left:30px;}
.margin2{ margin-top:12px !important;}
.padding1{ padding-top:11px;}
.padding2{ padding-top:16px;}

/* ============================= header ====================== */
#header{ text-align:center;}
#header .top{ width:100%; overflow:hidden;}
#header .menu{ float:right; padding:50px 0 0 0;}
#header .text{ padding-top:104px; line-height:1.25em; color:#ffffff; height:209px;}
#header .text img{ margin-bottom:11px;}
#flash { height:244px; width:943px; }/* NEW created by AA */

/* ============================= content ====================== */
.left-top{ background:url(images/content-corner-left-top.gif) top left no-repeat; width:100%;}
.right-top{ background:url(images/content-corner-right-top.gif) top right no-repeat;}
.left-bot{ background:url(images/content-corner-left-bot.gif) bottom left no-repeat; width:100%;}
.right-bot{ background:url(images/content-corner-right-bot.gif) bottom right no-repeat; padding:10px;}
.bg2{ background:#ffffff; margin:0 -10px; padding:0 10px;}
.bg1{ background:#ffffff; margin:-10px 0; padding:10px 0;}
.indent{ padding:8.5px 8.5px 8.5px 8.5px;}  /*due to header size 980-2*10-943=2*8.5 */

.list li{ background:url(images/list-marker.gif) no-repeat 0 0; padding: 0 0 11px 30px;}
.list .last{ padding-bottom:0;}

.link{ color:#197898; font-weight:bold; display:inline-block; margin-top:24px;} /* edited by AA */

.line1{ background:url(images/line.gif) repeat-y 301px 0; width:100%;}
.line2{ background:url(images/line.gif) repeat-y 624px 0; width:100%;}
.text1{ line-height:1.5em;}
.partners{ width:100%; overflow:hidden;}
.partners .col-2, .partners .col-3, .partners .col-4, .partners .col-5, .partners .col-6{ margin-left:25px}
.partners img{ margin-bottom:12px;}
.email{ color:#197898; font-weight:bold;}  /* edited by AA */
.email a{ color:#197898;} /* edited by AA */

/* ============================= footer ====================== */
#footer .indent{padding:10px 0 0 0px;}
#footer .menu{ width:100%; overflow:hidden; color:#ffffff; font-size:1em;}
#footer .menu .leftfloat{ float:left;}
#footer .menu .rightfloat{ float:right; padding-right:9px;}
#footer .menu .txt { margin-left:9px; }
#footer .menu a{ color:#ffffff; text-decoration:none; display:inline-block; margin-right:9px; margin-left:9px;}
#footer .menu a:hover{ text-decoration:underline;}


.menuRow /*Controls the div the menu sits in */
{
    float:right;
    padding: 0px 0px 1px 0;
    text-align:right;
}

.headerstyle /*Controls the div the header sits in within menuRow*/
{
    padding: 0 0 0 0;

}

.orgpackagestyle /*Controls the div the org package sits in within menuRow*/
{
    padding: 0 0 0 0;
    font-size:0.8em;  
    color:#ffffff;
    text-align:center;
}

.menuItem
{
    font-family: Tahoma !important; 
    font-size:1.1em;
    color:#ffffff;
    text-align:left;
    Border:0;
    Height:30px;
    padding:0px 4px 0px 4px;
}

.submenuItem
{
    font-family: Tahoma !important;
    font-size:1.1em;
    color:#ffffff;
    Border:0;
    Height:20px;
    text-align:left;
    padding:0px 4px 0px 4px;
}

/* Fix for IE8 where submenus are not rendered

Needs

<asp:Menu ID="Menu1" runat="server">
    <DynamicMenuStyle CssClass="adjustedZIndex" />
</asp:Menu>

*/

.adjustedZIndex {
    z-index: 1;
}

/* ============================Message Box ======================*/
.messagemodalbackground
{
	background-color:#E6E7E8;
	filter:alpha(opacity=70);
	opacity:0.7;
	z-index:998;     
}

.messagebox
{
    color:#ffffff;
    font-size:1.2em;
    width:445px;

}

.messageheader
{
	background-image:url("images/popup_logo.png");
	background-repeat:no-repeat;
    background-position: center top;
    height: 67px;
    width:100%;
    text-align:center;
}

.messageheadertext
{
    /* not used */
}

.messagebody
{
    background-image:url("images/popup_body.png");
    background-position: center top;
    text-align:center;
    padding-top:35px;
    padding-bottom:50px;
    width:100%;

}

.messagebodyContent
{
    padding: 0 40px 0 40px;
    text-align:left;
}

.messagefooter
{
    background-image:url("images/popup_footer.png");
    background-repeat:no-repeat;
    background-position: center top;
    text-align:center;
    height: 91px;
    width:100%;
    margin-top:-30px;
}

.messagefooter column-1{ width:50%; float:left; display:inline;}
.messagefooter column-2{ width:50%; float:right; display:inline;}

/* Styles the grid view - there is also another set of styles for the dummy row 
in the gridviews as well */

.GridViewStyle
{    
    border:0;
    width:100%;
}

.GridViewStyle a
{
    color: #5c5c5c;
}

.GridViewHeaderStyle th
{
    border:0;
    text-align:left;
    padding: 0 0 7px 10px;
}

.GridViewHeaderStyle
{
    background-color: #ffffff;
    
}

.GridViewFooterStyle
{
    background-color: #ffffff;
    color: #5c5c5c;
}

.GridViewFooterStyle td
{
    padding: 10px 0 0 0;
}

.GridViewRowStyle
{
    background-color: #FFFFFF;
    color: #5c5c5c;
    padding:0;
}

.GridViewAlternatingRowStyle 
{
    background-color: #FFFFFF;
    color: #5c5c5c;
    padding:0;    
}

.GridViewRowStyle td, .GridViewAlternatingRowStyle td
{
    border:0;
    padding: 5px 0 5px 10px;
}

.GridViewSelectedRowStyle
{
    background-color: #FFFFFF;
    color: #5c5c5c;
}

.GridViewPagerStyle
{
    background-color: #ffffff;
    color: #5c5c5c;
}

.GridViewPagerStyle table
{
    margin: 0 auto 0 0;
}